# Tell tools where packages scoped @anaralabs should be published/fetched
# (This might seem redundant with publishConfig, but helps ensure consistency)
@anaralabs:registry=https://npm.pkg.github.com/

# Associate the registry URL with the auth token env variable for publishing
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}